<div class="card">

    <!-- One way binding of variable using interpolation-->
    <div class="card-header">
        {{pageTitle}}
    </div>

    <!-- Structural Directives
        *ngIf: added or removed from DOM
            from BrowserModule

        *ngFor: looping
            for...of for iterable objects
            for...in for properties (index) Not angular
    -->

    <!-- Two-way Data Binding
              () event
              [] property
              "Banana in a Box"
          Angular Directive ngModel part of FormsModule (AppModule Imports)
      -->


    <div class="card-body">
<!--        Filter by Title-->
        <div class="row">
          <pm-criteria class="col-md-10" #filterCriteria
                       [displayDetail]="includeDetail"
                       [hitCount]="filteredProducts?.length"></pm-criteria>

        </div>
        <div class="row">
          <div class="col-md-2">{{includeDetail ? 'Hide' : 'Show'}} Details:</div>
          <div class="col-md-2">
            <input type="checkbox" [(ngModel)]="includeDetail">
          </div>
        </div>


        <div class="table-responsive">
            <table class="table"
                *ngIf='products?.length'>
                <thead>
                    <tr>
                        <td>
                            <!-- Event Binding
                                    defined list of DOM/Web events
                            -->
                            <button class="btn btn-outline-primary btn-sm"
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </td>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                        Pipe could be used to filter the product
                        but these perform poorly. Instead use component
                        logic
                     -->
                    <tr *ngFor="let product of filteredProducts">
                        <td>
                            <!-- Using Property Binding to reference variables -->
                            <img *ngIf='showImage && product.imageUrl'
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]"
                               [queryParams]="{filterBy: parentListFilter, showImage: showImage}">
                                {{ product.productName }}
                            </a>
                        </td>
                        <!-- Custom Pipe -->
                        <td>{{ product.productCode | lowercase | convertToSpaces:'-'}}</td>
                        <td>{{ product.releaseDate }}</td>
                        <!-- Pipe
                            Example with parameters -->
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2' | lowercase }}</td>
                        <!-- <td>{{ product.starRating }}</td> -->
                        <td>
                            <!-- If star rating changes, the star display will change -->
                            <pm-star [rating]='product.starRating'
                                (ratingClicked)='onRatingClicked($event)'
                            ></pm-star>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                    [routerLink]="['/products', product.id, 'edit']">
                              Edit
                            </button>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
