<div class="card">

    <!-- One way binding of variable using interpolation-->
    <div class="card-header">
        {{pageTitle}}
    </div>

    <!-- Structural Directives
        *ngIf: added or removed from DOM
            from BrowserModule

        *ngFor: looping
            for...of for iterable objects
            for...in for properties (index) Not angular
    -->


    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <!-- Two-way Data Binding 
                        () event
                        [] property
                        "Banana in a Box"
                    Angular Directive ngModel part of FormsModule (AppModule Imports)
                -->
                <input type="text"
                    [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtered By: {{listFilter}}</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table"
                *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <td>
                            <!-- Event Binding
                                    defined list of DOM/Web events
                            -->
                            <button class="btn btn-primary"
                                (click)='toggleImage()'
                            >
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </td>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>
                            <!-- Using Property Binding to reference variables -->
                            <img *ngIf='showImage' 
                                [src]='product.imageUrl'
                                [title]='product.productName'
                                [style.width.px]='imageWidth'
                                [style.margin.px]='imageMargin'
                            >
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <!-- Pipe 
                            Example with parameters -->
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2' | lowercase }}</td>
                        <td>{{ product.starRating }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>